<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center gap-2 py-2 mt-3 border-top small">
<span class="text-body-secondary">SweetCherry</span>
<nav class="d-flex flex-wrap gap-3" th:attr="aria-label=#{footer.links}">
<a th:href="@{/}" th:text="#{footer.home}"></a>
<a th:href="@{/help/index}" th:text="#{footer.help}"></a>
<a href="https://github.com/turkerozturk/SweetCherry" target="_blank" rel="noopener noreferrer" th:text="#{footer.source}"></a>
<a href="https://github.com/giuspen/cherrytree" target="_blank" rel="noopener noreferrer">CherryTree</a>
</nav>
</footer>

<!-- javascript kutuphaneleri icin diger bir fragment -->
<div th:fragment="footerJsLibraries" xmlns:th="http://www.thymeleaf.org" th:remove="tag">

    <script th:if="${syntaxHighlightingEnabled}" th:src="@{/js/thirdparty/highlightjs/highlight.min.js}"></script>
    <script th:if="${syntaxHighlightingEnabled}" th:src="@{/js/thirdparty/highlightjs/cherry-highlight.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <!--   <script type="text/javascript" th:src="@{/webjars/popper/popper.js}"></script> -->
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

    <!-- <script type="text/javascript" th:src="@{/webjars/hyperscript/index.js}"></script> require not defined hatasi veriyor -->

    <script type="text/javascript" th:src="@{/js/common/selectlanguage.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/clock.js}"></script>

    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>


    <script>
        $('#AlertsBellButton').on('show.bs.popover', function (e) {
    $.ajax({
        url: '/astronomy',
        type: 'get',
        cache: false,
        success: function (data) {
            $('#AlertBellContainer').html(data);
        }
    });
});
    </script>


</div>

</body>
</html>
