<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="sidebarFragment">


    <aside id="sidebar" class="">

        <div class="resizer"></div>

        <div class="d-flex">
            <button id="btn-toggle-sidebar" type="button">
                <i class="fas fa-arrows-h childiconcss"></i>
            </button>

            <div class="sidebar-logo">

                <th:block th:if="${parentNodeId}">
                    <a
                            th:href="'/nodes/' + ${parentNodeId}"
                    >
                                    <span th:title="#{tree.goToParentNode}">
                                        <i class="fas fa-level-up childiconcssfas"></i>
                                    </span>


                        <span th:if="${node}"
                              th:text="${node.fatherNode.name}"
                              style="color: white; font-weight: bold;"
                        >
                                    Node Name
                                    </span>

                        <span th:unless="${node}"
                              th:text="${'Database: ' + currentTenantName}"
                              style="color: white; font-weight: bold;"
                        >
                                        Data source Name
                                    </span>

                    </a>


                </th:block>

                <th:block th:unless="${parentNodeId}">

                    <th:block th:if="${node}">

                        <th:block th:if="${node.isReadOnly == true}">
                            <img th:src="@{/img/icons/ct_locked.svg}"/>
                        </th:block>

                        <a href="/nodes/0">
                        <span th:title="#{tree.goToParentNode}"
                              style="color: white; font-weight: bold;"
                        >
                           <i class="fas fa-level-up childiconcssfas"></i>
                        </span>


                            <span th:text="${node.name}"
                                  style="color: white; font-weight: bold;"
                            >
                            Node Name
                        </span>
                        </a>

                    </th:block>


                    <a th:unless="${node}" th:href="@{/markmap-quick-mind-map/all}"
                       target="_blank" rel="noopener noreferrer" title="Tüm düğümleri Markmap ile aç"
                          th:text="${'Database: ' + currentTenantName}"
                          style="color: white; font-weight: bold;"
                    >
                        Data source Name
                    </a>
                    <form th:if="${isRootNode == true and canDeleteNode == true}" sec:authorize="hasRole('ADMIN')"
                          th:action="@{/nodes/top-level}" method="post" class="d-inline">
                        <input type="hidden" name="_tenantView" th:value="${tenantViewToken}"/>
                        <button type="submit" class="btn btn-sm btn-outline-light" title="Add Node" aria-label="Add Node">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </button>
                    </form>

                </th:block>


            </div>

        </div>

        <div id="sideBarContent" th:attr="data-tenant-view=${tenantViewToken}">

            <th:block th:with="siblingNaviNodes=${isRootNode == true ? childNodes : siblingNaviNodes}">
                <div th:replace="~{node/siblingAndChildrenNavigationFragment :: siblingAndChildrenNavigationFragment}"></div>
            </th:block>

        </div>


    </aside>


</th:block>

</body>
</html>
