<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<th:block th:fragment="advancedFragment">

    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">SweetCherry</h4>
        </div>
        <div class="card-body">


            <dl>

                <dt>🌱<a href="/cherrytemplatetasks">Şablon Görünümler</a></dt>

                <dt><a href="/nodesadvancedwithbinding" th:text="#{dashboard.search}">Search</a></dt>

                <dt>🌱<a href="/rootnode">Node Gezgini</a></dt>

                <dt>🌱<a href="/attachments">Ekli Dosyalar</a></dt>

                <dt>🌱Son <a href="/nodes/timeline/created">Oluşturulan</a> ve <a
                        href="/nodes/timeline/modified">Güncellenenler</a></dt>

                <dt>🌱<a href="/findchildrenbyfatherid">Node Ara</a></dt>

            </dl>

        </div>
    </div>

</th:block>

</body>
</html>