
/* <!-- https://stackoverflow.com/questions/41846471/bootstrap-change-breadcrumbs-active-text-color --> */
 a {
   color: red;
   text-decoration: none;
}

a.linkinternal{
   color: green;
   text-decoration: none;
}

a.link-external{
   color: brown;
   text-decoration: none;
}

.nodeTxt {
    font-family: 'Poppins', sans-serif;
}

.sup {
    vertical-align: super;
}

.sub {
    vertical-align: sub;
}

/* https://stackoverflow.com/questions/15115052/how-to-set-up-fixed-width-for-td */
table {
    table-layout: fixed;
    word-wrap: break-word;
}

/* https://stackoverflow.com/questions/14136076/scroll-bar-for-a-table-cell */
.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;

}

.iconcss {
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
}

.childiconcss {
    max-width: 15px;
    max-height: 15px;
    width: 15px;
    height: 15px;
}

i.childiconcssfas {
    max-width: 15px;
    max-height: 15px;
    width: 15px;
    height: 15px;
}

.boldTitle {
    font-weight: bold;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100; /* Düğmenin diğer elemanların üstünde görünmesini sağlar */
    background-color: #007bff; /* Butonun arka plan rengi */
    color: white; /* Butonun metin rengi */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); /* Gölge efekti */
}

#scrollToTopBtn:hover {
    background-color: #444;
}