<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8"/>
    <title>>Error Page</title>
</head>
<body>

<section layout:fragment="content">
    <h1>Error Details</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Timestamp</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <td>Trace</td>
            <td th:text="${trace}"></td>
        </tr>
        <tr>
            <td>Error</td>
            <td><pre th:text="${error}"></pre></td>
        </tr>
        </tbody>
    </table>
</section>


</body>
</html>
