<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{_layout}">
<head>
    <title th:text="#{tenants.title}">Data Sources (technically Tenants)</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{common/backupWarningFragment :: backupWarning}"></div>

    <h1 th:text="#{tenants.title}">Data Sources (technically Tenants)</h1>

    <p th:text="#{tenants.description}"> description</p>

    <p><a class="btn btn-success" th:href="@{/tenants/wizard}" th:text="#{wizard.create}"></a></p>
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{tenants.data_sources_table.status}">Status</th>
            <th th:text="#{tenants.data_sources_table.human_friendly_name}">Name</th>
            <th th:text="#{tenants.data_sources_table.url}">URL</th>
            <th th:text="#{tenant.authentication}">Authentication configured</th>
            <th th:text="#{tenants.data_sources_table.driver_class_name}">Driver Class Name</th>
            <th th:text="#{tenants.data_sources_table.file_name}">File Name</th>
            <th th:text="#{tenants.data_sources_table.isWritable}">Is Writable</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tenant : ${tenants}">
            <td th:text="${tenant.tenantName == currentTenantName ? 'Active' : 'Passive'}"></td>
            <td><a th:href="@{/tenants/config(tenant=${tenant.tenantName})}" th:title="${tenant.fileName}" aria-label="Download tenant configuration">
                <i class="fas fa-download" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{/tenants/wizard(tenant=${tenant.tenantName})}" th:title="#{wizard.edit}" th:aria-label="#{wizard.edit}"><i class="fas fa-pen" aria-hidden="true"></i></a>
                <form th:action="@{/tenants/config/delete}" method="post" class="d-inline" th:attr="data-confirm-message=#{tenant.delete.confirm(${tenant.fileName})}">
                    <input type="hidden" name="tenant" th:value="${tenant.tenantName}">
                    <button type="submit" class="btn btn-sm btn-outline-danger" th:title="#{tenant.delete.title}" th:aria-label="#{tenant.delete.title}"><i class="fas fa-trash" aria-hidden="true"></i></button>
                </form> <i><b th:text="${tenant.tenantName}"></b></i></td>
            <td th:text="${tenant.url}"></td>
            <td th:text="${tenant.authenticationConfigured} ? #{tenant.yes} : #{tenant.no}"></td>
            <td th:text="${tenant.driverClassName}"></td>
            <td th:text="${tenant.fileName}"></td>
            <td th:text="${tenant.isWritable}"></td>

        </tr>
        </tbody>
    </table>
</section>
<section layout:fragment="pageSpecificJsScripts"><script th:src="@{/js/node/confirmNodeCreation.js}"></script></section>
</body>
</html>