<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{_layout}">
<head>
    <title>Dosya Yükleme</title>
</head>
<body>

<section layout:fragment="content">

<h1>Dosya Yükleme Sonucu</h1>




<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<form th:if="${uploadSucceeded}" th:action="@{/reload-datasources}" method="post">
    <button class="btn btn-primary" type="submit" title="Veri Kaynaklarını Yeniden Yükle">
        <i class="fa-solid fa-rotate"></i>
        <span>Yeniden Yükle</span>
    </button>
</form>

</section>
</body>
</html>
