
#rootNodeContent {

    user-select: none; /* Tüm modern tarayıcılar için */
    -webkit-user-select: none; /* Chrome, Safari ve Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}